extends layout.pug

block content
  link(rel="stylesheet" href="/stylesheets/home.css")
  if locals.authenticated
    span#welcome(class="welcome") Welcome, #{user.userName}!
    //- a(href="/") Logout
  else
    a(href="/login") Login
    a(href="/register") Register
  div.left-column
    div.currently-watching
      h1 What are you watching?
      //- for shelf in shelves
      //-   a()
  div.what-to-watch
    div#movie1.movie-card
      img.movie(src="https://i.pinimg.com/originals/6a/96/99/6a969902921e521b1775711f34378464.jpg")
      h2 300
      p A bunch of really angry dudes kick the butts of a bunch of other really angry dudes only there are a LOT more of those other dudes. And its super stylized and cool.
    div#movie2.movie-card
      img.movie(src="https://s3.amazonaws.com/nightjarprod/content/uploads/sites/34/2019/09/16174819/aHAbhXSWB1O6AReAxN7SW5MrmCI.jpg")
      h2 The Fast and the Furious: Tokyo Drift
      p Fast cars go skrrrrt. In Tokyo!
    div#movie3.movie-card
      img.movie(src="https://m.media-amazon.com/images/M/MV5BYTk3MDljOWQtNGI2My00OTEzLTlhYjQtOTQ4ODM2MzUwY2IwXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_.jpg")
      h2 Spider-man 3
      p Tobey Maguire is Spider-man and is his normal lovable self until he becomes an absolute bully
  div.movie-facts
    div.fun-fact
      h2 First movie ever made!
      img.movie(src="https://m.media-amazon.com/images/M/MV5BNTY4ZDk5MzYtNjk2Zi00ZWY3LTgwZjUtNDc5MWEzMWFlOTQzXkEyXkFqcGdeQXVyNjU1MTEwMjI@._V1_.jpg")
      p Made in 1906, The Story of the Kelly Gang is an Australian film that follows the exploits of a 19th century bushranger and outlaw named Ned Kelly and his gang. At a little more than an hour long, this silent movie is considered the world's first full-length narrative feature film.
    div.fun-fact
      h2 The BEST movie ever made
      img.movie(src="https://m.media-amazon.com/images/M/MV5BOTJiYjBhZDgtMjhiOC00MTIzLThlNGMtMmI1NjIwM2M3YTI5XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_FMjpg_UX1000_.jpg")
      p While The Story of the Kelly Gang is very important in the making of movies as we know them today, another movie of equal, if not greater importance, is the 1999 cultural phenomenon, The Mummy featuring hollywood superstar Brendan Fraser, the first and only movie to win every single Academy Award that year.
