extends layout.pug

block content
  if locals.authenticated
    span(class="welcome") Welcome #{user.userName}!
    //- a(href="/") Logout
  else
    a(href="/login") Login
    a(href="/register") Register
