append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet')
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  //- Used Logged In user to hide these buttons
  div.user-bar
    div#watch-this-splash
      h1 watchThis
    div.splash-header-buttons
      a(href="/login")
        button.user-button Login
      a(href="/register")
        button.user-button Sign Up
  div.headline
    h2 Get your popcorn ready
    h2 for a Great Watch
  div.trending
    h3#trending-movies-header Trending Movies
    div.trending-movies
      img.movie(src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/idiocracy11_500x.jpg?v=1620076578", alt="")
      img.movie(src="https://farm8.staticflickr.com/7457/13104485265_ddd94e847c_o.jpg")
      img.movie(src="https://i.pinimg.com/originals/5a/e0/69/5ae06977dd4e2323011f3c32e0e3d34e.jpg")
      img.movie(src="https://i.pinimg.com/originals/6a/96/99/6a969902921e521b1775711f34378464.jpg")
      img.movie(src="https://m.media-amazon.com/images/M/MV5BMzg4MDJhMDMtYmJiMS00ZDZmLThmZWUtYTMwZDM1YTc5MWE2XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg")
      img.movie(src="https://m.media-amazon.com/images/M/MV5BYTk3MDljOWQtNGI2My00OTEzLTlhYjQtOTQ4ODM2MzUwY2IwXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_.jpg")
      //- each movie in movies
      //-   div.poster-img
      //-     img= movie.poster
    //- div.now-showing
    //-   h3#now-showing-title Now Showing
    //-   div.now-showing-movies
  footer
  div.about-us-footer
    p#about-us-header About Us
      div.about-us
        div.ricky-info
          p Ricky Cheung
          a.info(href="https://www.linkedin.com/in/wingnincheung/") LinkedIn
          a.info(href="https://github.com/WingNinCheung") GitHub
          a.info(href="mailto:wingnin.cheung415@gmail.com") Email
        div.luis-info
          p Luis Sanchez-Porras
          a.info(href="https://www.linkedin.com/in/luis-sanchez-b96077235/") LinkedIn
          a.info(href="https://github.com/stuffy-doll") GitHub
          a.info(href="mailto:sans.boba@gmail.com") Email
        div.josh-info
          p Josh Salcido
          a.info(href="https://www.linkedin.com/in/joshua-salcido-57036a215/") LinkedIn
          a.info(href="https://github.com/joshsalcido") GitHub
          a.info(href="mailto:joshuasalcido21@gmail.com") Email
        div.wes-info
          p Wesley  Blackburn
          a.info(href="https://www.linkedin.com/in/wesley-blackburn-333286232/") LinkedIn
          a.info(href="https://github.com/wesleyblackburn90") GitHub
          a.info(href="mailto:wesley.blackburn90@gmail.com") Email
