doctype html
html
  head
      block head
        title="Watch This!"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="../auth.js")
  body
    div.nav-bar
        a.watchThis(href='/home') watchThis
        a.home(href='/home' class="main-links") Home
        a.shelves(href='/shelves' class="main-links") My Shelves
        a.movies(href='/movies' class="main-links") Movies
    block content
