doctype html
html
  head
      block head
        title="Watch This!"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="../auth.js")
  body
    div.nav-bar
      div.title
        h1 WatchThis
      div.nav
        a.home(href='/home') Home
        a.shelves(href='/shelves') My Shelves
        a.movies(href='/movies') Movies
    block content
