extend layout.pug

block content
    table
        thead
            tr
                th Poster
                th Title
                th Director
                th Avg Rating
                th Review
        tbody
          
