extends layout.pug

block content
    script(src="/javascripts/delete-shelf.js" type="module")

    form(method="post" action="/shelves")
        input(type="hidden" name="_csrf" value=csrfToken)
        label Shelf Name
        input(type="text" name="name")
        button(type="submit") Create
    div.shelf Your Shelves:
        each shelf in shelves
            div(class="shelf-card" id=shelf.id)
                a(href=`/shelves/${shelf.id}`)= shelf.name
                button(class="delete-shelf-button") Delete
