h1 {
  color: #B5FCEC;
  font-family: "Gruppo";
  font-weight: bolder;
  font-size: 40pt;
}

body {
  background-color: #222222;
  Overflow-x: scroll;
  Overflow-y: scroll;
}

.nav {
  background-color: #222222;
  color: red;
  display: flex;
  justify-content: space-around;
}

img {
  width: 150px;
}

.user.login {
  width: 80px;
  height: 33px;
  border-radius: 10px;
  background-color: #B5FCEC;
  color: black;
}

.user.signup {
  width: 80px;
  height: 33px;
  border-radius: 10px;
  background-color: #B5FCEC;
  color: black;
}

footer {
  background-color: #e1e7fc;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.user-bar {
  display: inline-flex;
  background-color: #222222;
}

.splash-header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1350px;
  width: 250px;
}

#watch-this-splash {
  font-size: larger;
  margin-left: 50px;
}

.headline {
  font-family: "Gruppo";
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: xx-large;
  color: #B5FCEC;
  background-image: url('https://ei.marketwatch.com/Multimedia/2020/05/21/Photos/ZH/MW-IG985_Movies_20200521113911_ZH.jpg?uuid=378c769c-9b79-11ea-bd9d-9c8e992d421e');
  background-size: cover;
}

.center-strip {
  display: block;
}

.trending {
  background-color: #222222;
  border-radius: 4px;
  width: 70%;
}

#trending-movies-header {
  font-family: "Gruppo";
  display: flex;
  color: #B5FCEC;
  font-size: 30px;
  margin-left: 50px;
}

.trending-movies {
  overflow: scroll;
  overflow-y: hidden;
  margin: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.movie {
  padding: 20px;
}

.now-showing {
  display: block;
}

#now-showing-title {
  color: #B5FCEC;
  font-family: "Gruppo";
  font-size: 25px;
  display: inline-block;
  border: #B5FCEC 2px dotted;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px;
}

.about-us-footer {
  height: auto;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #B5FCEC;
  font-family: "Gruppo";
}

.about-us {
  background-color: #222222;
  color: #B5FCEC;
  font-family: "Gruppo";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;
}

.ricky-info {
  display: flex;
  flex-direction: column;
}

.luis-info {
  display: flex;
  flex-direction: column;
}

.josh-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wes-info {
  display: flex;
  flex-direction: column;
}
