body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}
/* Add a black background color to the top navigation */
.nav-bar {
  background-color: #222222;
  overflow: hidden;
  height: 50px;
}

.nav-bar .watchThis {
  /* font-family: "Gruppo"; */
  padding: 8px 50px;
  float: left;
  color: #B5FCEC;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

/* Style the links inside the navigation bar */
.nav-bar .main-links {
  float: left;
  color: #B5FCEC;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 17px;
}
.nav-bar .logout {
  float: right;
  color: #B5FCEC;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-bar .main-links:hover, .logout:hover {
  background-color: #B5FCEC;
  color: #3A3765;
}
