body {
    background-color: #222222;
}

table {
    margin: 50px 300px;
    color: white;
    border-collapse: collapse;
}
th {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid rgb(92, 92, 92);
  }
td {
    color: #B5FCEC;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(92, 92, 92);
  }
